@model WebShop.Areas.Admin.Models.SanPhamModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SanPhamModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiSP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiSP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DanhMuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DanhMuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaNhap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaNhap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.soluong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.soluong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThuongHieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThuongHieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.XuatXu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.XuatXu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChatLieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChatLieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SKU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SKU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhuyenMai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhuyenMai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.soluongDaBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.soluongDaBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaynhap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaynhap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdSanPham">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
