@model IEnumerable<WebShop.Areas.Admin.Models.UserModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="User" asp-action="Index">
    <p>
        Tìm Kiếm: <input type="text" name="SearchString" />
        <input type="submit" value="Search"/>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassWord)
            </th>
          
           
            <th>
                @Html.DisplayNameFor(model => model.AnhDaiDien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sdt)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.GioiTinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgaySinh)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.LoaiTK)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassWord)
            </td>
        
         
            <td style="max-height:60px; max-width:60px;">
                <img src="~/Img/Pro/@Html.DisplayFor(modelItem => item.AnhDaiDien)" style="max-height:50px; max-width:60px;" alt="Alternate Text" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinh)
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.LoaiTK)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUser">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdUser">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdUser">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
